body{
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #c52941;
}

header{
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 64px;
}

main{
    width: 80%;
    margin: auto;
}

h1{
    font-size: 40px;
    margin: auto;
}

.text{
    font-weight: bolder;
    color: #ffffff;
}

table{

    width: fit-content;
    table-layout:fixed;
    margin-top: 1%;
    margin-bottom: 1%;
}

td p {
   text-align: left;
   font-weight: bold;
}

img{
    width: 30%;
    border-radius: 5px;
    padding: 0;
}

footer{
    bottom: 0;
    background-color: #c52941;
    padding: 15px;
}